/*
 * Visual decoration
 */
.white_board {
	position: relative;
	background-color: #fff;
	margin: 0 0 0 230px;
	padding: 14px;
}
.white_board .border {
	position: absolute;
}
.white_board .top_side {
	height: 14px;
	top: 0;
	left: 0;
	right: 0;
	background: url('/css/admin/white_board_border_horizontal.png') repeat-x center top;
}
.white_board .right_side {
	width: 14px;
	top: 0;
	right: 0;
	bottom: 0;
	background: url('/css/admin/white_board_border_vertical.png') repeat-y left center;
}
.white_board .bottom_side {
	height: 14px;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('/css/admin/white_board_border_horizontal.png') repeat-x center top;
	background-position: 0 -14px;
}
.white_board .left_side {
	width: 14px;
	bottom: 0;
	left: 0;
	top: 0;
	background: url('/css/admin/white_board_border_vertical.png') repeat-y left center;
	background-position: -14px 0;
}
.white_board .corner {
	position: absolute;
	width: 14px;
	height: 14px;
	background: url('/css/admin/white_board_corners.png') no-repeat left top;
}
.white_board .top_left {
	top: 0;
	left: 0;
}
.white_board .top_right {
	top: 0;
	right: 0;
	background-position: -14px 0;
}
.white_board .bottom_right {
	bottom: 0;
	right: 0;
	background-position: -28px 0;
}
.white_board .bottom_left {
	bottom: 0;
	left: 0;
	background-position: -42px 0;
}

/*
 * Functional features
 */

#content_editor_window {
	position: relative;
}

#content_editor_window hr {
	border: 0; 
	height: 1px;
	background-color: #d3d7cf;
}

/*
 * Content type choice for content/element creation
 */
#type_choice_header {
	border-bottom: 1px solid #eeeeec; 
	padding-bottom: 8px;
	margin-bottom: 8px;
}


/*
 * Form fields
 */
.form_window_column_label {
	float: left;
	width: 92px;
	text-align: right;
}
.form_window_column_label .field_label {
	font-size: 12px;
	font-weight: bold;
}
.form_window_column_input {
	margin-left: 108px;
	padding-right: 8px;
}
.form_content_field {
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #eeeeec;
}
.form_content_field input[type="text"] {
	border-width: 1px;
	margin: 0;
}
.form_control_buttons {
	text-align: right;
}

/*
 * Dropdown input
 */
.dropdown_items_listing_inline {
	position: relative;
	display: inline-block;
}
.dropdown_items_listing_inline > a {
	position: relative;
	z-index: 2;
	padding: 0 4px;
}
.dropdown_items_listing_inline > a.up {
	border: 1px solid #666666;
	background-color: #fff;
}
.dropdown_items_listing_inline > a.down {
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #666666;
	background-color: #fff;
}
.dropdown_items_listing_position {
	position: relative;
}
.dropdown_items_listing_inline .dropdown_items_listing_position {
	position: relative;
	margin-top: -1px;
	margin-left: 0;
}
.dropdown_items_listing_position .dropdown_items_listing {
	display: none;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #666666;
}
.dropdown_items_listing_position .dropdown_items_listing ul li {
	position: static;
	float: none;
	margin-bottom: 2px;
}
.dropdown_items_listing_position .dropdown_items_listing ul li a {
	display: inline;
}
.dropdown_items_listing_position .dropdown_items_listing ul li hr {
	border-width: 0;
	height: 1px;
	background-color: #666;
}

/*
 * Content/template menu links
 */
#content_editors_header {
	border-bottom: 1px solid #d3d7cf; 
	margin-bottom: 8px;
}
#content_editors_menu {
	float: right; 
}
#content_editors_menu ul li {
	position: relative;
	float: left;
}
#content_editors_menu ul li a {
	display: block;
}
#content_editors_menu ul li a:hover {
}
#content_editors_menu ul li a.current {
	font-weight: bold;
}

/*
 * Template editor
 */
.textarea, .template_textarea {
	width: 100%;
}
