
/*
 * Functional features
 */

#account_editor_board, 
#content_editor_board 
{
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 222px;
}

#account_window, 
#content_window 
{
	position: absolute;
	top: 10px;
	right: 14px;
	bottom: 10px;
	left: 14px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

/*
 * Content type choice for content/element creation
 */
#type_choice_header {
	border-bottom: 1px solid #eeeeec; 
	padding-bottom: 8px;
	margin-bottom: 8px;
}

/*
 * Other headers
 */
.page_subtitle {
	font-weight: bold;
	text-align: center;
	padding: 8px 0;
	margin-bottom: 8px;
	border-bottom: 1px solid #eeeeec;
}

/*
 * Form fields
 */
.form_window_column_label {
	float: left;
	width: 92px;
	text-align: right;
}
.form_window_column_label .field_label {
	font-size: 13px;
	font-weight: bold;
}
.form_window_column_input {
	margin-left: 108px;
	position: relative;
}
.form_content_field {
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #eeeeec;
	width: 100%;
}
.form_content_field .text_input_container {
	position: absolute;
	right: 15px;
	left: 6px;
}
.form_content_field .text_input_container input[type="text"], 
.form_content_field .text_input_container input[type="password"] 
{
	width: 100%;
	height: 17px;
}
.form_content_field .clear {
	border-width: 0;
	height: 22px;
	margin: 0;
}
.form_content_field input[type="text"], 
.form_content_field input[type="password"], 
.menu_field input.edit[type="text"] 
{
	border-top: 1px solid #888a85;
	border-right: 1px solid #d3d7cf;
	border-bottom: 1px solid #d3d7cf;
	border-left: 1px solid #888a85;
	background-image: url('/css/backend/input_bg.png');
	background-repeat: no-repeat;
	padding: 2px 4px;
	margin: 0;
	width: 98%;
}

.index_field
{
	position: relative;
	margin-bottom: 6px;
	padding-left: 6px;
	border: 1px solid #d9d9d7;
	background-color: #fff;
}

.form_control_buttons {
	text-align: right;
	margin-bottom: 20px;
}

/*
 * Paragraph pages
 */
.hypertext_page_template
{
	display: none;
}
.hypertext_link_container
{
	text-align: right;
	margin-top: 6px;
}
.hypertext_page_many
{
	margin-bottom: 12px;
}

/*
 * Menu field editor
 */
.menu_parent_template, .menu_item_template {
	display: none;
}
.menu_parent_add {
	margin-bottom: 6px;
}
.menu_field > .menu_parent {
	margin: 0;
}
.menu_parent {
	margin-left: 12px;
}
.menu_field > .menu_parent > .menu_item {
	margin-right: 0;
}
.menu_item {
	position: relative;
	margin-bottom: 6px;
	padding-left: 6px;
/*
	margin-right: 8px;
*/
	border: 1px solid #d9d9d7;
	background-color: #fff;
}
.menu_item_inputs {
	float: left;
	width: 196px;
	margin-bottom: 10px;
}
.menu_item label {
	font-size: 11px;
}
.menu_item_name, .menu_item_target {
}
.menu_item_menu {
	background-color: #f3f3f1;
	margin-left: 200px;
	padding: 2px 4px;
	font-size: 11px;
	line-height: 12px;
}
.menu_field input[type="text"] {
	width: 90%;
/*
	background-image: none;
	background-color: transparent;
	border-width: 0;
	height: 16px;
	line-height: 16px;
	cursor: default;
	width: 80px;
*/
}
.menu_field input.edit[type="text"] {
/*
	cursor: text;
	height: 14px !important;
	width: 78px !important;
*/
}
.menu_field .add_menu, .menu_field .add_submenu, .menu_field .delete_menu {
	font-size: 11px;
}

/*
 * File field
 */
.file_parent_template, .file_item_template {
	display: none;
}
.file_parent_add {
	margin-bottom: 6px;
}
.file_field > .file_parent {
	margin: 0;
}
.file_parent {
	margin: 0;
}
.file_field > .file_parent > .file_item {
	margin-right: 0;
}
.file_item {
	position: relative;
	margin-bottom: 6px;
	padding-left: 6px;
/*
	margin-right: 8px;
*/
	border: 1px solid #d9d9d7;
	background-color: #fff;
}
.file_item_inputs {
	float: left;
	width: 196px;
	margin-bottom: 10px;
}
.file_details .hidden {
	display: none;
}
.file_item label {
	font-size: 11px;
}
.file_item_thumbnail {
	position: relative;
	width: 48px;
	height: 48px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center center;
}
.file_item_thumbnail_missing {
	background-image: url("/css/backend/image_missing.png");
}
.file_item_menu {
	background-color: #f3f3f1;
	margin-left: 200px;
	padding: 2px 4px;
	font-size: 11px;
	line-height: 12px;
}
.file_field input[type="text"] {
	width: 90%;
}
.file_field input.edit[type="text"] {
}
.file_field .add_file, .file_field .delete_file {
	font-size: 11px;
}

/*
 * YouTube gallery field
 */
.youtube_parent_template, .youtube_item_template {
	display: none;
}
.youtube_field > .youtube_parent {
	margin: 0;
}
.youtube_parent {
	margin: 0;
}
.youtube_field > .youtube_parent > .youtube_item {
	margin-right: 0;
}
.youtube_item {
	position: relative;
	margin-bottom: 12px;
	padding-left: 6px;
	margin-right: 8px;
	border: 1px solid #d9d9d7;
	background-color: #fff;
}
.youtube_item_inputs {
	float: left;
	width: 196px;
	margin-bottom: 10px;
}
.youtube_item label {
	font-size: 11px;
}
.youtube_item_name, .youtube_item_target {
}
.youtube_item_menu {
	background-color: #f3f3f1;
	margin-left: 200px;
	padding: 2px 4px;
	font-size: 11px;
	line-height: 12px;
}
.youtube_field input[type="text"] {
	width: 90%;
/*
	background-image: none;
	background-color: transparent;
	border-width: 0;
	height: 16px;
	line-height: 16px;
	cursor: default;
	width: 80px;
*/
}
.youtube_field input.edit[type="text"] {
/*
	cursor: text;
	height: 14px !important;
	width: 78px !important;
*/
}
.youtube_field .add_youtube, .youtube_field .delete_youtube {
	font-size: 11px;
}


/*
 * Dropdown listing
 */
.dropdown_items_listing_inline {
	position: relative;
	display: inline-block;
	border: 1px solid #d9d9d7;
	background-color: #e7e9e5;
	padding-bottom: 1px;
}
.dropdown_items_listing_inline > a {
	padding: 0 4px;
	display: block;
	position: relative;
	z-index: 2;
	background-color: #e7e9e5;
}
.dropdown_items_listing_position {
	position: relative;
	z-index: 1;
	margin-top: -1px;
	margin-left: -1px;
}
.dropdown_items_listing_position .dropdown_items_listing {
	display: none;
	position: absolute;
	padding: 5px;
	background-color: #e7e9e5;
	border: 1px solid #d9d9d7;
}
.dropdown_items_listing_position .dropdown_items_listing ul li {
	position: static;
	float: none;
	margin-bottom: 2px;
	white-space: nowrap;
}
.dropdown_items_listing_position .dropdown_items_listing ul li a {
	display: inline;
}
.dropdown_items_listing_position .dropdown_items_listing ul li hr {
	border-width: 0;
	height: 1px;
	background-color: #666;
}

/*
 * Content/template menu links
 */
#editors_header {
	position: relative;
	border-bottom: 1px solid #888a85; 
	margin-bottom: 8px;
}
#editors_header > p > a {
	display: inline-block;
	padding: 4px;
}
#editors_menu {
	position: absolute;
	right: 0;
	bottom: 0;
}
#editors_menu ul li {
	position: relative;
	float: left;
}
#editors_menu ul li a {
	display: block;
	padding: 4px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom-width: 0;
	border-left: 1px solid #fff;
	background-color: #fff;
}
#editors_menu ul li a:hover {
}
#editors_menu ul li a.current {
	border: 1px solid #888a85;
	background-color: #888a85;
	color: #fff;
/*
	text-shadow: 0 -1px 0 #2d2d2d;
*/
}
#editors_menu ul li a.current:hover {
	text-decoration: none;
}

/*
 * Input tabs for each language default
 */
.input_lang_menu {
	height: 22px;
}
.input_lang_menu ul li {
	position: relative;
	float: left;
}
.input_lang_menu ul li a {
	display: block;
	padding: 4px;
	margin: 1px 1px 0 1px;
	line-height: 13px;
}
.input_lang_menu ul li a.current {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom-width: 0;
	border-left: 1px solid #ccc;
	margin: 0;
	background-color: #e7e9e5;
	color: #2d2d2d;
	text-shadow: 0 1px 0 white;
}
.input_lang_menu ul li a.current:hover {
	text-decoration: none;
}
.input_lang_field {
	margin-top: -1px;
	padding: 6px 4px;
	background-color: #E7E9E5;
	display: none;
	border: 1px solid #ccc;
}

/*
 * Textareas
 */
.textarea_limiter
{
	padding-right: 10px;
}
.textarea,
.template_textarea, 
.css_textarea, 
.javascript_textarea, 
.head_textarea 
{
	background-image: url('/css/backend/input_bg.png');
	background-repeat: no-repeat;
	background-color: #fff;
	border-top: 1px solid #888a85;
	border-right: 1px solid #d3d7cf;
	border-bottom: 1px solid #d3d7cf;
	border-left: 1px solid #888a85;
	padding: 4px;
	width: 100%;
	height: 250px;
}

.pseudo_variables_menu {
	border: 1px solid #D9D9D7;
	background-color: #F3F3F1;
	margin-bottom: 6px;
}
.pseudo_variables_menu h1 {
	text-shadow: 0 1px 0 white;
	font-weight: bold;
	text-align: center;
	margin-top: 2px;
}
.pseudo_variables_menu a.variable_pair_menu {
	display: block;
}
.pseudo_variables_accordion {
	display: none;
	margin: 2px 6px;
}
.pseudo_variables_column {
	padding-right: 18px;
}
.pseudo_variables_element_list {
	margin-left: 10px;
}
.pseudo_variables_menu_switcher_footer {
	text-align: center;
	margin: 2px;
	padding-top: 4px;
}
.pseudo_variables_menu_switcher {
	display: block;
	margin: auto;
	width: 16px;
	height: 16px;
	background: url('/css/backend/up_down_switcher.png') no-repeat left top;
}
.pseudo_variables_menu_switcher_footer .collapsed {
	background-position: 0 0;
}
.pseudo_variables_menu_switcher_footer .expanded {
	background-position: -16px 0;
}

.template_confirm_overwrite {
	display: none;
}

/*
 * Element filters menu
 */
.element_filter_menu {
	display: none;
	position: absolute;
	opacity: .9;
}
.element_filter_menu > ul {
	position: relative;
	margin: 16px;
}
.element_filter_menu > ul li {
	margin-bottom: 4px;
}
.element_filter_menu .title {
	color: #888a85;
	font-style: oblique;
}
.element_filter_menu a:hover {
	text-decoration: none;
}
.filter_fields_right hr 
{
	border: 0;
	height: 1px;
	background-color: #eeeeec;
}
.element_filter_menu .close_menu
{
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	top: 8px;
	right: 8px;
	background-repeat: no-repeat;
	background-position: -16px 0;
	background-image: url("/css/backend/close_white.png");
}
.element_filter_menu .close_menu_hover
{
	background-position: 0 0;
	background-image: url("/css/backend/close_white.png");
}
.element_filter_menu .title
{
	position: relative;
	margin: 16px 32px 0 16px;
}
.filter_forms
{
	position: relative;
	margin: 6px 14px 16px 14px;
	border-top: 1px solid #eeeeec;
}
.filter_forms .title
{
	margin: 6px 0 6px 0;
}
.filter_forms .form_action
{
	margin: 6px 0 6px 0;
	text-align: center;
}
.filter_forms .order_by 
{
	float: left;
	width: 180px;
}
.filter_forms .order_by .filter_fields_left
{
	float: left;
	width: 110px;
}
.filter_forms .order_by .filter_fields_right
{
	margin-left: 106px;
	border-left: 1px solid #eeeeec;
	padding-left: 6px;
}
.filter_forms .order_by input[type="text"]
{
	width: 32px;
}
.filter_forms .insertion
{
	margin-left:190px;
	width: 110px;
	border-left: 1px solid #eeeeec;
	padding-left: 6px;
}
.filter_forms .hr_clear
{
	margin: 0;
	clear: both;
	border: 0;
	height: 0;
}

/*
 * Template action menus
 */
ul.template_actions 
{
	margin-top: 6px;
}
