
/*
 * Functional features
 */

#account_tree, 
#content_tree 
{
	width: 220px;
	top: 4px;
	left: 4px;
	bottom: 4px;
}

#tree_parent_1 {
	position: absolute;
	top: 10px;
	right: 14px;
	bottom: 10px;
	left: 14px;
	overflow: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#account_tree_loading,
#content_tree_loading
{
	display: none;
	position: absolute;
	z-index: 1;
	top: 6px;
	left: 6px;
	width: 16px;
	height: 16px;
	opacity: .5;
	background-color: #fff;
	background-image: url("/css/backend/working_small.gif");
	background-position: center center;
	background-repeat: no-repeat;
}

#account_tree a, 
#content_tree a 
{
	color: #666;
	text-decoration: none;
	display: block;
}
#account_tree a:hover, 
#content_tree a:hover 
{
	color: #666;
	text-decoration: none;
}
#account_tree a.current, 
#content_tree a.current 
{
	color: #000;
}

.tree_parent {
	position: relative;
}
.tree_listing {
	display: none;
	margin-left: 16px;
	line-height: 16px;
/*
	padding-bottom: 3px;
*/
}
#tree_listing_1 {
	display: block;
	margin-left: 0;
}

.tree_listing_row {
	height: 16px;
	margin-bottom: 4px;
}
.unfold {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url("/css/backend/bullet_down.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.fold {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url("/css/backend/bullet_right.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.bullet_placeholder {
	display: block;
	width: 16px;
	height: 16px;
}

.tree_listing_row .tree_listing_bullet {
	float: left;
	height: 16px;
	line-height: 16px;
}
.tree_listing_row .tree_listing_icon {
	float: left;
	height: 16px;
	line-height: 16px;
	cursor: url('/css/backend/openhand.cur'), auto !important;
}
.tree_listing_row .tree_listing_icon img {
/*
	vertical-align: middle;
*/
	margin-top: 2px;
}
.tree_listing_menu {
	display: none;
	position: absolute;
	opacity: .9;
}
.tree_listing_menu > ul {
	position: relative;
	margin: 16px;
}
.tree_listing_menu > ul li {
	margin-bottom: 4px;
}
.tree_listing_menu .title {
	color: #888a85;
	font-style: oblique;
}
.tree_listing_menu a:hover {
	text-decoration: none;
}
.tree_listing_menu hr {
	border: 0;
	height: 1px;
	background-color: #555753;
}
.tree_listing_row .tree_listing_header {
	margin-left: 16px;
	margin-right: 16px;
	height: 16px;
	line-height: 16px;
}

.tree_listing_row .tree_listing_text {
	margin-left: 32px;
	margin-right: 0;
	height: 16px;
	line-height: 16px;
	white-space: nowrap;
}

/*
 * Drag and drop
 */
#tree_drag_container {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	opacity: .5;
	width: 400px;
	height: 20px;
}
#tree_drag_container .dragging, #tree_drag_container .dragging a:hover {
	cursor: url('/css/backend/closedhand.cur'), auto !important;
}

#account_tree .hover, 
#content_tree .hover 
{
	background-color: #eeeeec;
}

