body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	/*
	background-image: url("/css/backend/body_bg.gif");
	background-repeat: repeat-x; 
	background-position: 0px 34px;
	*/
	background-color: #e7e9e5;
	color: #2d2d2d;
/*
	background: url('/css/backend/backend_bg.png') no-repeat left top;
*/
}

#authenticate
{
	text-align: center;
}

.loading {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .5;
	filter: alpha(opacity = 50);
	background-color: #fff;
	background-image: url("/css/backend/working.gif");
	background-position: center center;
	background-repeat: no-repeat;
}

a {
	color: #005c94;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
}

.top_menu_sep {
	color: #555753;
}

/*
 * Top warning messages
 */

#client_warning {
	display: none;
	position: fixed;
	top: 34px;
	right: 8px;
	width: 180px;
	text-align: center;
	padding: 10px;
	background-color: #000;
	border-radius: 7px;
	opacity: .6;
	filter: alpha(opacity = 60);
	line-height: 18px;
}
#client_warning #client_msg {
	color: #fff;
	font-weight: bold;
}

/*
 * Login form
 */
.login_field {
	margin-bottom: 8px;
}

/*
 * Top menus
 */
#header {
	position: relative;
	width: 100%;
	/*
	margin-bottom: 40px;
	border-bottom: 1px solid #cccccc;
	background-color: #063368;
	background-image: url("/css/backend/header_bg.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	background: url('/css/backend/header_bg.png') repeat-x center top;
	*/
	background-color: #000;
}
#header_shadow {
	background: url('/css/backend/header_bg.png') repeat-x center bottom;
	height: 7px;
}

#resource_menu {
	float: left;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 6px;
	/* 
	background-image: url("/css/backend/top_menu_bg.png");
	background-position: top left;
	background-repeat: no-repeat;
	*/
}

#user_menu {
	float: right;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-right: 6px;
	/* 
	background-image: url("/css/backend/top_menu_bg.png");
	background-position: top left;
	background-repeat: no-repeat;
	*/
}

#user_menu ul, #resource ul {
}
#user_menu ul li, #resource_menu ul li {
	position: relative;
	float: left;
	margin-right: 4px;
	color: #fff;
	font-weight: bold;
}
#user_menu ul li a, #resource_menu ul li a {
	display: block;
	/*
	height: 29px;
	color: #d7dadc;
	*/
	text-decoration: none;
	padding: 0;
	color: #9eabb0;
}
#user_menu ul li a:hover, #resource_menu ul li a:hover {
	text-decoration: underline;
}
#user_menu ul li a.current, #resource_menu ul li a.current {
	/*
	background-image: url("/css/backend/current_bg.png"); 
	background-position: bottom center;
	background-repeat: no-repeat;
	*/
}
#user_menu ul li .dropdown, #resource_menu ul li .dropdown {
	display: none;
	z-index: 1;
	position: absolute;
	top: 29px;
	left: 0;
	/*
	background-image: url("/css/backend/dropdown_bg.png");
	*/
	background-color: #fff;
	padding: 6px 12px;
	border-style: inset;
	border-width: 2px;
	border-color: #E3E3E3;
}
#user_menu ul li .dropdown ul, #resource_menu ul li .dropdown ul {
	position: static;
}
#user_menu ul li .dropdown ul li, #resource_menu ul li .dropdown ul li {
	position: static;
	float: none;
	margin-bottom: 6px;
}
#user_menu ul li .dropdown ul li a, #resource_menu ul li .dropdown ul li a {
	display: inline;
}

#banner {
	height: 68px;
}
#banner .logo {
	float: left;
	height: 68px;
	width: 100%;
	background-image: url('/css/backend/elementar.png');
	background-position: center center;
	background-repeat: no-repeat;
}

/*
 * Left column
 */
#left_column {
	float: left;
	width: 70px;
}

#logo {
	margin: 10px 0px 0px 10px;
}

#left_menu {
	margin-left: 10px;
}

#left_menu li {
	/*
	margin: 10px 0px 10px 0px;
	*/
}
#left_menu li a {
	display: block;
	padding: 4px 0px 4px 4px;
}
#left_menu li a:hover {
	text-decoration: none;
}
#left_menu li a.current {
	background-color: #d3d7cf;
	font-weight: bold;
	color: #fff;
}

/*
 * Main area
 */

#main {
	position: absolute;
	top: 100px;
	right: 0;
	bottom: 30px;
	left: 0;
}

#blocker {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .5;
	filter: alpha(opacity = 50);
	background-color: #fff;
	background-image: url("/css/backend/working.gif");
	background-position: center center;
	background-repeat: no-repeat;
}


/*
 * Main internal items
 */

/*
 * Users table
 */
.user_info table {
}
.user_info th, .user_info td {
	text-align: left;
	padding: 2px 8px 2px 0px;
}

/*
 * Editing area (tree + window)
 */
#content_editor {
	margin-top: 20px;
	line-height: 16px;
}


/*
 * Visual decoration of main containers
 */
.pool_board {
	position: absolute;
}
.pool_board .border {
	position: absolute;
}
.pool_board .top_side {
	height: 14px;
	top: 0;
	left: 14px;
	right: 14px;
	background: url('/css/backend/pool_board_border_horizontal.png') repeat-x center top;
}
.pool_board .right_side {
	width: 14px;
	top: 14px;
	right: 0;
	bottom: 14px;
	background: url('/css/backend/pool_board_border_vertical.png') repeat-y left center;
}
.pool_board .bottom_side {
	height: 14px;
	right: 14px;
	bottom: 0;
	left: 14px;
	background: url('/css/backend/pool_board_border_horizontal.png') repeat-x center top;
	background-position: 0 -14px;
}
.pool_board .left_side {
	width: 14px;
	bottom: 14px;
	left: 0;
	top: 14px;
	background: url('/css/backend/pool_board_border_vertical.png') repeat-y left center;
	background-position: -14px 0;
}
.pool_board .corner {
	position: absolute;
	width: 14px;
	height: 14px;
	background: url('/css/backend/pool_board_corners.png') no-repeat left top;
}
.pool_board .top_left {
	top: 0;
	left: 0;
}
.pool_board .top_right {
	top: 0;
	right: 0;
	background-position: -14px 0;
}
.pool_board .bottom_right {
	bottom: 0;
	right: 0;
	background-position: -28px 0;
}
.pool_board .bottom_left {
	bottom: 0;
	left: 0;
	background-position: -42px 0;
}
.pool_board .foreground {
	position: absolute;
	top: 14px;
	bottom: 14px;
	left: 14px;
	right: 14px;
	background-color: #fff;
}

.shade_top {
	position: absolute;
	top: 10px;
	height: 10px;
	left: 10px;
	right: 30px;
	background-image: url('/css/backend/file_listing_shade.png');
	background-repeat: repeat-x;
}
.shade_bottom {
	position: absolute;
	bottom: 10px;
	height: 10px;
	left: 10px;
	right: 30px;
	background-image: url('/css/backend/file_listing_shade.png');
	background-repeat: repeat-x;
	background-position: 0 -10px;
}


/*
 * Floating menu visual decoration
 */
.white_board {
	position: absolute;
}
.white_board .border {
	position: absolute;
}
.white_board .top_side {
	height: 14px;
	top: 0;
	left: 14px;
	right: 14px;
	background: url('/css/backend/white_board_border_horizontal.png') repeat-x center top;
}
.white_board .right_side {
	width: 14px;
	top: 14px;
	right: 0;
	bottom: 14px;
	background: url('/css/backend/white_board_border_vertical.png') repeat-y left center;
}
.white_board .bottom_side {
	height: 14px;
	right: 14px;
	bottom: 0;
	left: 14px;
	background: url('/css/backend/white_board_border_horizontal.png') repeat-x center top;
	background-position: 0 -14px;
}
.white_board .left_side {
	width: 14px;
	bottom: 14px;
	left: 0;
	top: 14px;
	background: url('/css/backend/white_board_border_vertical.png') repeat-y left center;
	background-position: -14px 0;
}
.white_board .corner {
	position: absolute;
	width: 14px;
	height: 14px;
	background: url('/css/backend/white_board_corners.png') no-repeat left top;
}
.white_board .top_left {
	top: 0;
	left: 0;
}
.white_board .top_right {
	top: 0;
	right: 0;
	background-position: -14px 0;
}
.white_board .bottom_right {
	bottom: 0;
	right: 0;
	background-position: -28px 0;
}
.white_board .bottom_left {
	bottom: 0;
	left: 0;
	background-position: -42px 0;
}
.white_board .foreground {
	position: absolute;
	top: 14px;
	bottom: 14px;
	left: 14px;
	right: 14px;
	background-color: #fff;
}

/*
 * Menu indicator arrow
 */
.white_board .menu_indicator
{
	position: absolute;
	width: 13px;
	height: 26px;
	top: 25px;
	left: -9px;
	background-image: url('/css/backend/menu_indicator.png');
	background-repeat: no-repeat;
}

/*
 * Floating menu visual decoration (dark)
 */
.dark_board {
	position: absolute;
	padding-left: 12px;
/*
	text-shadow: 0 -1px 0 #000;
*/
	color: #eeeeec;
}
.dark_board a {
	color: #fff;
}
.dark_board .border {
	position: absolute;
}
.dark_board .top_side {
	height: 14px;
	top: 0;
	left: 26px;
	right: 14px;
	background: url('/css/backend/dark_board_border_horizontal.png') repeat-x center top;
}
.dark_board .right_side {
	width: 14px;
	top: 14px;
	right: 0;
	bottom: 14px;
	background: url('/css/backend/dark_board_border_vertical.png') repeat-y left center;
}
.dark_board .bottom_side {
	height: 14px;
	right: 14px;
	bottom: 0;
	left: 26px;
	background: url('/css/backend/dark_board_border_horizontal.png') repeat-x center top;
	background-position: 0 -14px;
}
.dark_board .left_side {
	width: 14px;
	bottom: 14px;
	left: 12px;
	top: 14px;
	background: url('/css/backend/dark_board_border_vertical.png') repeat-y left center;
	background-position: -14px 0;
}
.dark_board .corner {
	position: absolute;
	width: 14px;
	height: 14px;
	background: url('/css/backend/dark_board_corners.png') no-repeat left top;
}
.dark_board .top_left {
	top: 0;
	left: 12px;
}
.dark_board .top_right {
	top: 0;
	right: 0;
	background-position: -14px 0;
}
.dark_board .bottom_right {
	bottom: 0;
	right: 0;
	background-position: -28px 0;
}
.dark_board .bottom_left {
	bottom: 0;
	left: 12px;
	background-position: -42px 0;
}
.dark_board .foreground {
	position: absolute;
	top: 14px;
	bottom: 14px;
	left: 26px;
	right: 14px;
	background-image: url('/css/backend/dark_board_foreground.png');
}

/*
 * Menu indicator arrow
 */
.dark_board .menu_indicator
{
	position: absolute;
	width: 13px;
	height: 26px;
	top: 25px;
	left: -8px;
	background-image: url('/css/backend/dark_menu_indicator.png');
	background-repeat: no-repeat;
}

.dark_board .filter_fields_right hr {
    background-color: #555753;
}
.dark_board .filter_forms {
    border-top: 1px solid #555753;
}
.dark_board .filter_forms .order_by .filter_fields_right,
.dark_board .filter_forms .insertion
{
    border-left: 1px solid #555753;
}

/*
 * Main config page
 */
#main_tree
{
	width: 220px;
	top: 4px;
	left: 4px;
	bottom: 4px;
}
#main_window
{
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 222px;
}

/*
 * Image upload elements
 */
.upload_image_loading {
	display: none;
}
.upload_image_display {
	display: none;
}
.upload_image_form {
	display: none;
}

/*
 * Bottom items
 */
#footer {
	position: absolute;
	height: 30px;
	right: 0;
	bottom: 0;
	left: 0;
}

#footer p {
	text-align: center;
	text-shadow: white 0 1px 0; 
}
